<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss}:%5p:(%F:%L):%m%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender"
                     fileName="/u01/tcs/log/mq_job.log"
                     filePattern="/u01/tcs/log/mq_job.log.%d{yy-MM-dd}.gz">
            <PatternLayout>
                <Pattern>%d{yy-MM-dd HH:mm:ss}:%5p:(%F:%L):%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>
